.main-container{
    color: #aaa;
    // padding: 3% 10%;
    // font-size: 0.9rem;
}
.title{
    color: white;
}

th, td{
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
}
